.Contact-Items{
display: grid;
flex-direction: row;
}
.nav_items{
display: grid;
flex-direction: row; 
margin-left: 500px;  
position: fixed;
}
.main-header__title{
color: rgba(236, 213, 213, 0.966);
position: fixed;
}
.Front-Page-img__intro{
align-items: center;
position: relative;
justify-content: flex-start;
display: flex;
flex-direction: column;
margin-left: 25px;
}
*{
outline: 1px solid #ff00004d;
}
.nav_items_main{
float: right;
}
.Front-Page-img{
align-items: center;
position: absolute;
background: url(./Raised\ Slop\ Garden.jpg) center #000;
width: 100%;
height: 100%;
z-index: -1;
min-height: 500px;
}
;